.cart {
    &-title {
        margin: 1em 0 1.8em 0;
    }

    &-container {
        display: grid;
        grid-template-columns: 2.5fr 1fr;
    }

    &-header {
        display: grid;
        grid-template-columns: 3fr 1fr 1fr 1fr;
        margin-bottom: 0.5em;
        font-size: 13px;
        font-style: italic;

        & div:last-child {
            text-align: end;
        }
    }
}