@import "@scss/variables";

body {
    font-family: 'Montserrat', sans-serif;
}

#root {
    margin: -8px;
}

html {
    position: relative;
    min-height: 100%;
    margin: auto;
    max-width: 1440px;
}

section {
    width: 90%;
    margin: auto auto 3em auto;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

button, a {
    cursor: pointer;
}

.btn-link {
    cursor: pointer;
    transition: all 2ms ease-in-out;
    color: white;
    background-color: $pryColor;
    border: 1px solid $pryColor;
    border-radius: 5px;
    transition: all 250ms ease-in-out;

    &:hover {
        background-color: $sdyColor;
        border-color: $sdyColor;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }
}