body {
    font-family: 'Montserrat', sans-serif;
}

#root {
    margin: -8px;
}

html {
    position: relative;
    min-height: 100%;
    margin: auto;
    max-width: 1440px;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    transition: all 2ms ease-in-out;
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;

    &:hover {
        background-color: rgb(210, 0, 0);
        border-color: rgb(210, 0, 0);
    }
}