body {
    font-family: 'Montserrat', sans-serif;
}

#root {
    margin: -8px;
}

html {
    position: relative;
    min-height: 100%;
    margin: auto;
    max-width: 1440px;
}

ul, li {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}